<!doctype html>
  <html class="no-js" lang="{{ request.locale.iso_code }}">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <meta name="theme-color" content="">
      <link rel="canonical" href="{{ canonical_url }}">
      <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
  
      {%- if settings.favicon != blank -%}
        <link rel="icon" type="image/png" href="{{ settings.favicon | img_url: '32x32' }}">
      {%- endif -%}
  
      <title>
        {{ page_title }}
        {%- if current_tags %} &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
        {%- if current_page != 1 %} &ndash; Page {{ current_page }}{% endif -%}
        {%- unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless -%}
      </title>
  
      {% if page_description %}
        <meta name="description" content="{{ page_description | escape }}">
      {% endif %}
  
      {% render 'meta-tags' %}
  
      {{ content_for_header }}
  
      {{ 'theme.css' | asset_url | stylesheet_tag }}
    </head>
    
    <body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
      <div id="page">
        {% section 'header' %}
        <main id="MainContent" role="main" tabindex="-1">
          {{ content_for_layout }}
        </main>
        {% section 'footer' %}
      </div>
		  <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    </body>
  </html>
