<article class="py-8" itemscope itemtype="http://schema.org/BlogPosting">
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'article_title' -%}
        <div class="flex items-center justify-center">
          <div class="max-w-7xl">
            <a href="{{ blog.url }}" class="text-base font-bold text-gray-500 uppercase hover:text-gray-900">{{ blog.title }}</a>
            <h1 class="text-4xl font-medium md:text-6xl" itemprop="headline">
              {{ article.title }}
            </h1>
          </div>
        </div>
      {%- when 'article_author' -%}
        <div
          class="flex items-center justify-center"
          itemscope
          itemtype="http://schema.org/Person">
          <div class="text-center m-w-7xl">
            {%- if section.settings.enable_author -%}
              <small itemprop="author">{{ article.author }}</small>
            {%- endif -%}
          </div>
        </div>
      {%- when 'article_published_date' -%}
        <div class="flex items-center justify-center">
          <div class="text-center m-w-7xl">
            {%- if section.settings.enable_published_date -%}
              <time datetime="{{ article.published_at | date: '%Y-%m-%d' }}" itemprop="datePublished dateCreated">
                {{ article.published_at | date: format: 'on_date' }}
              </time>
            {%- endif -%}
          </div>
        </div>
      {%- when 'article_featured_image' -%}
        <div
          class="mx-2 my-4 overflow-hidden bg-blue-100 rounded-lg max-w-7xl md:mx-auto md:rounded-none"
          itemprop="image">
          {%- if article.image != blank -%}
            <img class="object-cover object-center w-full h-80 md:h-96" src="{{ article.image | image_url }}" alt="{{ article.image.alt }}" width="{{ article.image.width }}" height="{{ article.image.height }}" loading="lazy" />
          {%- else -%}
            {%- assign placeholder_image = 'lifestyle-2' -%}
            {{ placeholder_image | placeholder_svg_tag: 'w-full h-80 md:h096 object-cover object-center p-5' }}
          {%- endif -%}
        </div>
      {%- when 'article_content' -%}
        <div class="flex items-center justify-center mx-6 lg:mx-auto">
          <div class="max-w-4xl mt-2" itemprop="articleBody">
            {{ article.content }}
          </div>
        </div>
    {%- endcase -%}
  {%- endfor -%}
</article>

{%- if blog.comments_enabled? -%}
  <div class="my-8" id="comments">
    {%- if article.comments_count > 0 -%}
      <div class="flex-1 max-w-4xl px-4 mx-auto items-center-justify-center">
        <h1 class="mb-4 text-lg font-medium">See what people are saying</h1>
        {% paginate article.comments by 5 %}
          {% for comment in article.comments %}
            <div class="flex-1 px-4 py-2 my-4 leading-relaxed border sm:px-6 sm:py-4">
              <span class="comment-author">{{ comment.author }}</span>
              <span class="text-xs text-gray-400">{{ comment.created_at | date: format: 'default' }}</span>
              <p class="text-sm">{{ comment.content }}</p>
            </div>
          {% endfor %}
          <div class="max-w-6xl mx-auto">
            {% render 'pagination', pagination: paginate %}
          </div>
        {% endpaginate %}
      </div>
    {%- else -%}
      <p>There are no comments in this article.</p>
    {%- endif -%}
  </div>
{%- endif -%}

<div class="mb-8" id="comment_form">
  {%- form 'new_comment', article -%}
    <div class="items-center justify-center flex-1 max-w-4xl px-4 mx-auto">
      {%- if form.errors -%}
        <div class="p-5 border">
          <div class="flex flex-row items-center w-full my-3">
            <div class="text-red-500">
              {% render 'icon-failed' %}
            </div>
            <div class="ml-3 text-sm font-medium">
              Error submitting your commment, please try again later...
            </div>
          </div>
          <ul class="px-4 mb-3 list-decimal ml-7">
            {%- for error in form.errors -%}
              <li>
                <span>{{ form.errors.messages[error] }}</span>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      {%- elsif form.posted_successfully? -%}
        <div class="flex flex-row items-center w-full p-5 my-3">
          <div class="text-green-500">
            {% render 'icon-success' %}
          </div>
          <div class="ml-3 text-sm font-medium">Comment has been posted!</div>
        </div>
      {%- endif -%}
      <div class="px-1 mb-3 md:flex">
        <div class="px-3 md:w-1/2">
          <label
            class="mb-2 text-xs font-medium text-gray-700 uppercase"
            for="comment_author">Name</label>
          <input
            class="w-full px-4 py-3 mb-3 text-gray-700 border rounded focus:outline-none"
            id="comment_author"
            name="comment[author]"
            placeholder="Jane Doe"
            required
            type="text" />
        </div>
        <div class="px-3 md:w-1/2">
          <label class="mb-2 text-xs font-medium text-gray-700 uppercase" for="comment_email">Email</label>
          <input
            class="w-full px-4 py-3 mb-3 text-gray-700 border rounded focus:outline-none"
            id="comment_email"
            name="comment[email]"
            placeholder="jane@doe.com"
            required
            type="email" />
        </div>
      </div>
      <div class="px-1 mb-3 md:flex">
        <div class="px-3 md:w-full">
          <label
            class="mb-2 text-xs font-medium text-gray-700 uppercase"
            for="comment_content">Comment</label>
          <textarea
            class="w-full h-20 px-3 py-2 text-gray-700 border resize-none focus:outline-none"
            id="comment_content"
            name="comment[body"
            required></textarea>
        </div>
      </div>
      <div class="mb-3 md:flex">
        <div class="px-3 md:w-full">
          <input
            class="w-full px-4 py-2 text-base font-medium text-white bg-gray-900 border cursor-pointer hover:bg-gray-500"
            type="submit"
            value="Post Comment">
        </div>
      </div>
    </div>
  {%- endform -%}
</div>

<script {{ 'application/ld+json' }}>
  {
    "@context": "http://schema.org/BlogPosting",
    "@type": "BlogPosting",
    "headline": "{{ article.title | json }}",
    "articleBody": "{{ article.content | strip_html | json }}",
    "description": "{{ article.exerpt | strip_html | default: ' ' }}",
    "image": [{% if article.image %}"{{ article.image | image_url: width: '240' | prepend: 'https:' }}"{% endif %}],
    "datePublished": "{{ article.published_at | date: format: 'default' | json }}",
    "dateCreated": "{{ article.created_at | date: format: 'default' | json }}",
    "author": {
      "@type": "Person",
      "name": "{{ article.author | json }}"
    },
    "publisher": {
      "@type": "Organization",
      "name": "{{ shop.name | json }}"
    }
  };
</script>

{% schema %}
{
  "name": "Template Article",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_author",
      "label": "Display Author Name",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_published_date",
      "label": "Display Published Date",
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "article_title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "article_author",
      "name": "Author",
      "limit": 1
    },
    {
      "type": "article_published_date",
      "name": "Published Date",
      "limit": 1
    },
    {
      "type": "article_featured_image",
      "name": "Thumbnail",
      "limit": 1
    },
    {
      "type": "article_content",
      "name": "Content",
      "limit": 1
    }
  ]
}
{% endschema %}